#cashback {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
	#cashback .container {
		width: 100%;
		border-bottom: 2px solid #E1E1E3;
		display: flex;
		justify-content: center;
	}
	#cashback .container .text_items {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		flex-wrap: wrap;
	}
		#cashback .container .text_items .item {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 100px 20px;
		}
			#cashback .container .text_items .item:first-child {
				margin-top: 200px;
			}
			#cashback .container .text_items .item:nth-child(3) {
				display: none;
			}
			#cashback .container .text_items .item .title {
				font-size: 6em;
				color: #2B2D33;
				line-height: 1em;
				font-family: NavigoBold;
				font-weight: bold;
			}
				#cashback .container .text_items .item .title span {
					font-size: 1.6em;
					color: #2B2D33;
					font-family: NavigoBold;
				}
			#cashback .container .text_items .item .description,
			#cashback .container .text_items .item .description_mob {
				font-weight: normal;
				font-size: 2.5em;
				color: #808185;
				font-family: ALSHaussRegular;
			}
				#cashback .container .text_items .item:last-child .description {
					display: none;
				}
	#cashback .cashback_title {
		font-size: 5em;
		color: #2B2D33;
		font-family: NavigoBold;
		margin: 70px 0;
		text-align: center;
		white-space: pre-line;
	}
	#cashback .card_items {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
		padding-bottom: 90px;
		width: 100%;
	}
		#cashback .card_items img {
			margin: 20px;
			width: 90%;
		}