#credit {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
	#credit .title_mob {
		font-size: 5em;
		color: #2B2D33;
		font-family: NavigoBold;
		margin-top: 72px;
		text-align: center;
	}
	#credit .subtitle_mob {
		font-weight: normal;
		font-size: 3em;
		color: #808185;
		font-family: ALSHaussRegular;
		margin: 26px 0;
	}
	#credit .title,
	#credit .subtitle {
		display: none;
	}
	#credit .credit_block {
		height: auto;
		background-color: #FFFFFF;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		margin-bottom: 90px;
		width: 100%;
	}
		#credit .credit_block .left_part {
			width: 100%;
			margin: 60px 0;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
		}
			#credit .credit_block .left_part .item {
				display: flex;
				flex-direction: column;
				margin: 16px 0;
				width: 90%;
			}
				#credit .credit_block .left_part .item .text {
					display: flex;
					justify-content: space-between;
					align-items: flex-end;
				}
					#credit .credit_block .left_part .item .text .question {
						font-size: 2.5em;
						color: #2B2D33;
						font-family: ALSHaussRegular;
					}
					#credit .credit_block .left_part .item .text .result {
						font-size: 4.5em;
						color: #2B2D33;
						font-family: NavigoRegular;
					}
				#credit .credit_block .left_part .item .range {
					display: flex;
					justify-content: space-between;
				}
					#credit .credit_block .left_part .item .range .min {
						font-size: 2em;
						color: #A2A4A6;
						font-family: ALSHaussRegular;
					}
					#credit .credit_block .left_part .item .range .max {
						font-size: 2em;
						color: #A2A4A6;
						font-family: ALSHaussRegular;
					}
				#credit .credit_block .left_part .addition {
					display: none;
				}
		#credit .credit_block .right_part {
			margin: 60px 0;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			height: auto;
			background-color: #F4F4F4;
			border-radius: 20px;
			width: 90%;
		}
			#credit .credit_block .right_part .item {
				margin-top: 100px;
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;
			}
				#credit .credit_block .right_part .item .result {
					font-size: 5em;
					line-height: 1em;
					color: #2B2D33;
					font-family: NavigoBold;
				}
				#credit .credit_block .right_part .item .description {
					font-size: 2.5em;
					color: #2B2D33;
					font-family: ALSHaussRegular;
				}
			#credit .credit_block .right_part .credit_button {
				margin: 100px;
				padding: 75px 50px;
				font-size: 3.5em;
				border-radius: 20px;
			}
			#credit .credit_block .right_part .addition_mob {
				color: #808185;
				font-size: 2.2em;
				font-family: ALSHaussRegular;
				width: 100%;
				border-top: 2px solid #E1E1E3;
				text-align: center;
				padding: 30px 0;
			}