footer {
	display: flex;
	align-items: center;
	flex-direction: column;
}
	footer .madeby {
		display: flex;
		margin-top: 100px;
		justify-content: center;
		width: 100%;
		border-top: 2px solid #E1E1E3;
		border-bottom: 2px solid #E1E1E3;
	}
		footer .madeby .container {
			width: 	90%;
			display: flex;
			justify-content: flex-start;
			flex-direction: column;
		}
			footer .madeby .container .company_name {
				margin-top: 50px;
				font-size: 2em;
				color: #55575C;
				font-family: ALSHaussRegular;

			}
			footer .madeby .container .company_data {
				font-size: 2em;
				color: #55575C;
				font-family: ALSHaussRegular;
				margin: 50px 0;
			}
	footer .scroll_info {
		width: 90%;
		height: 300px;
		overflow-y: scroll;
		font-size: 2em;
		color: #808185;
		font-family: ALSHaussRegular;
		margin: 50px 0;
		scrollbar-width: thin;
	}

	footer .scroll_info::-webkit-scrollbar {
	  	width: 5px;
	}
	footer .scroll_info::-webkit-scrollbar-track {
	  	background: #E1E1E3;
	  	border-radius: 5px;
	}
	footer .scroll_info::-webkit-scrollbar-thumb {
	  	background: #808185;
	  	border-radius: 5px;
	}