footer {
	display: flex;
	align-items: center;
	flex-direction: column;
}
	footer .madeby {
		display: flex;
		justify-content: center;
		width: 100%;
		padding: 30px 0;
		border-top: 1px solid #E1E1E3;
		border-bottom: 1px solid #E1E1E3;
	}
		footer .madeby .container {
			/*width: 1200px;*/
			display: flex;
			justify-content: space-between;
			flex-direction: row;
		}
			footer .madeby .container .company_name {
				font-size: 13px;
				line-height: 18px;
				color: #55575C;
				font-family: ALSHaussRegular;
			}
			footer .madeby .container .company_data {
				font-size: 13px;
				line-height: 18px;
				color: #55575C;
				font-family: ALSHaussRegular;
			}
	footer .scroll_info {
		height: 150px;
		/*width: 1100px;*/
		overflow-y: scroll;
		padding-right: 100px;
		font-size: 13px;
		line-height: 18px;
		color: #808185;
		font-family: ALSHaussRegular;
		margin: 50px 0;
		scrollbar-width: thin;
	}

	footer .scroll_info::-webkit-scrollbar {
	  	width: 5px;
	}
	footer .scroll_info::-webkit-scrollbar-track {
	  	background: #E1E1E3;
	  	border-radius: 5px;
	}
	footer .scroll_info::-webkit-scrollbar-thumb {
	  	background: #808185;
	  	border-radius: 5px;
	}